/*
* Frequently Asked Questions
*/
.custom-accordion-style-1 .card {
	position: relative;
	margin-top: 0 !important;
	border-right: 0;
	border-bottom: 0;
	border-top: 0;
	box-shadow: none;
	border-radius: 0 !important;
}
.custom-accordion-style-1 .card:last-child {
	border-bottom: 1px solid #e4e4e4;
}
.custom-accordion-style-1 .card .card-header {
	margin: 0;
}
.custom-accordion-style-1 .card .card-title > a {
	font-size: 14px !important;
}
.custom-accordion-style-1 .card .card-title > a.accordion-toggle {
	color: #333333;
	border-bottom: 1px solid #e4e4e4;
}
.custom-accordion-style-1 .card .card-title > a.accordion-toggle:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-left: 1px solid #333333;
}
.custom-accordion-style-1 .card .card-title > a.accordion-toggle .custom-accordion-plus:after {
	border-top: 2px solid #333333;
	transform: translate(-50%, -50%) rotate(0deg);
}
.custom-accordion-style-1 .card .card-title > a.collapsed {
	color: #1e1e24 !important;
	border-bottom: 0;
}
.custom-accordion-style-1 .card .card-title > a.collapsed:before {
	content: none;
}
.custom-accordion-style-1 .card .card-title > a.collapsed .custom-accordion-plus:after {
	border-top: 2px solid #1e1e24;
	transform: translate(-50%, -50%) rotate(90deg);
}
.custom-accordion-style-1 .card .card-title > a .custom-accordion-plus {
	position: absolute;
	top: 23px;
	right: 15px;
	width: 15px;
}
.custom-accordion-style-1 .card .card-title > a .custom-accordion-plus:before, .custom-accordion-style-1 .card .card-title > a .custom-accordion-plus:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	border-top: 2px solid #1e1e24;
	transform: translate(-50%, -50%);
	transition: ease all 300ms;
}
.custom-accordion-style-1 .card .card-body {
	padding: 15px 15px 35px;
}

.test {
	padding-left: 10%;
	padding-right: 10%;
}

.color-link {
	color: #132135;
	font-weight: 700;
}

.color-link:hover {
	color: #132135;
	font-weight: 700;
}

.bg-color-light {
	border: 1px solid #132135;
}

.bold-white {
	font-weight: 700;
	color: white !important;
}

img{ max-width:100%;}

.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}

#anim-input, #anim-vm {
    /* width: 30px; */
    height: auto;
    position: absolute;
    /* right: -28px;
    bottom: -26px; */
}

p.cadre {
	border: 1px solid black;
	padding: 0.2rem;
	font-weight: bold;
	color: black;
	margin-top: 0.5rem;
}

h2 {
	margin-top: 32px;
}